<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gobuy.mapper.TbOrderMapper" >
  <resultMap id="BaseResultMap" type="com.gobuy.pojo.TbOrder" >
    <id column="order_id" property="order_id" jdbcType="VARCHAR" />
    <result column="payment" property="payment" jdbcType="VARCHAR" />
    <result column="payment_type" property="payment_type" jdbcType="INTEGER" />
    <result column="post_fee" property="post_fee" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="payment_time" property="payment_time" jdbcType="TIMESTAMP" />
    <result column="consign_time" property="consign_time" jdbcType="TIMESTAMP" />
    <result column="end_time" property="end_time" jdbcType="TIMESTAMP" />
    <result column="close_time" property="close_time" jdbcType="TIMESTAMP" />
    <result column="shipping_name" property="shipping_name" jdbcType="VARCHAR" />
    <result column="shipping_code" property="shipping_code" jdbcType="VARCHAR" />
    <result column="user_id" property="user_id" jdbcType="BIGINT" />
    <result column="buyer_message" property="buyer_message" jdbcType="VARCHAR" />
    <result column="buyer_nick" property="buyer_nick" jdbcType="VARCHAR" />
    <result column="buyer_rate" property="buyer_rate" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    order_id, payment, payment_type, post_fee, status, create_time, update_time, payment_time, 
    consign_time, end_time, close_time, shipping_name, shipping_code, user_id, buyer_message, 
    buyer_nick, buyer_rate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gobuy.pojo.TbOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where order_id = #{order_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_order
    where order_id = #{order_id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gobuy.pojo.TbOrderExample" >
    delete from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gobuy.pojo.TbOrder" >
    insert into tb_order (order_id, payment, payment_type, 
      post_fee, status, create_time, 
      update_time, payment_time, consign_time, 
      end_time, close_time, shipping_name, 
      shipping_code, user_id, buyer_message, 
      buyer_nick, buyer_rate)
    values (#{order_id,jdbcType=VARCHAR}, #{payment,jdbcType=VARCHAR}, #{payment_type,jdbcType=INTEGER}, 
      #{post_fee,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{create_time,jdbcType=TIMESTAMP}, 
      #{update_time,jdbcType=TIMESTAMP}, #{payment_time,jdbcType=TIMESTAMP}, #{consign_time,jdbcType=TIMESTAMP}, 
      #{end_time,jdbcType=TIMESTAMP}, #{close_time,jdbcType=TIMESTAMP}, #{shipping_name,jdbcType=VARCHAR}, 
      #{shipping_code,jdbcType=VARCHAR}, #{user_id,jdbcType=BIGINT}, #{buyer_message,jdbcType=VARCHAR}, 
      #{buyer_nick,jdbcType=VARCHAR}, #{buyer_rate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gobuy.pojo.TbOrder" >
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="order_id != null" >
        order_id,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="payment_type != null" >
        payment_type,
      </if>
      <if test="post_fee != null" >
        post_fee,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="payment_time != null" >
        payment_time,
      </if>
      <if test="consign_time != null" >
        consign_time,
      </if>
      <if test="end_time != null" >
        end_time,
      </if>
      <if test="close_time != null" >
        close_time,
      </if>
      <if test="shipping_name != null" >
        shipping_name,
      </if>
      <if test="shipping_code != null" >
        shipping_code,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="buyer_message != null" >
        buyer_message,
      </if>
      <if test="buyer_nick != null" >
        buyer_nick,
      </if>
      <if test="buyer_rate != null" >
        buyer_rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="order_id != null" >
        #{order_id,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="payment_type != null" >
        #{payment_type,jdbcType=INTEGER},
      </if>
      <if test="post_fee != null" >
        #{post_fee,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="payment_time != null" >
        #{payment_time,jdbcType=TIMESTAMP},
      </if>
      <if test="consign_time != null" >
        #{consign_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null" >
        #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="close_time != null" >
        #{close_time,jdbcType=TIMESTAMP},
      </if>
      <if test="shipping_name != null" >
        #{shipping_name,jdbcType=VARCHAR},
      </if>
      <if test="shipping_code != null" >
        #{shipping_code,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="buyer_message != null" >
        #{buyer_message,jdbcType=VARCHAR},
      </if>
      <if test="buyer_nick != null" >
        #{buyer_nick,jdbcType=VARCHAR},
      </if>
      <if test="buyer_rate != null" >
        #{buyer_rate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gobuy.pojo.TbOrderExample" resultType="java.lang.Integer" >
    select count(*) from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_order
    <set >
      <if test="record.order_id != null" >
        order_id = #{record.order_id,jdbcType=VARCHAR},
      </if>
      <if test="record.payment != null" >
        payment = #{record.payment,jdbcType=VARCHAR},
      </if>
      <if test="record.payment_type != null" >
        payment_type = #{record.payment_type,jdbcType=INTEGER},
      </if>
      <if test="record.post_fee != null" >
        post_fee = #{record.post_fee,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.create_time != null" >
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_time != null" >
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payment_time != null" >
        payment_time = #{record.payment_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.consign_time != null" >
        consign_time = #{record.consign_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.end_time != null" >
        end_time = #{record.end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.close_time != null" >
        close_time = #{record.close_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shipping_name != null" >
        shipping_name = #{record.shipping_name,jdbcType=VARCHAR},
      </if>
      <if test="record.shipping_code != null" >
        shipping_code = #{record.shipping_code,jdbcType=VARCHAR},
      </if>
      <if test="record.user_id != null" >
        user_id = #{record.user_id,jdbcType=BIGINT},
      </if>
      <if test="record.buyer_message != null" >
        buyer_message = #{record.buyer_message,jdbcType=VARCHAR},
      </if>
      <if test="record.buyer_nick != null" >
        buyer_nick = #{record.buyer_nick,jdbcType=VARCHAR},
      </if>
      <if test="record.buyer_rate != null" >
        buyer_rate = #{record.buyer_rate,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_order
    set order_id = #{record.order_id,jdbcType=VARCHAR},
      payment = #{record.payment,jdbcType=VARCHAR},
      payment_type = #{record.payment_type,jdbcType=INTEGER},
      post_fee = #{record.post_fee,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      update_time = #{record.update_time,jdbcType=TIMESTAMP},
      payment_time = #{record.payment_time,jdbcType=TIMESTAMP},
      consign_time = #{record.consign_time,jdbcType=TIMESTAMP},
      end_time = #{record.end_time,jdbcType=TIMESTAMP},
      close_time = #{record.close_time,jdbcType=TIMESTAMP},
      shipping_name = #{record.shipping_name,jdbcType=VARCHAR},
      shipping_code = #{record.shipping_code,jdbcType=VARCHAR},
      user_id = #{record.user_id,jdbcType=BIGINT},
      buyer_message = #{record.buyer_message,jdbcType=VARCHAR},
      buyer_nick = #{record.buyer_nick,jdbcType=VARCHAR},
      buyer_rate = #{record.buyer_rate,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gobuy.pojo.TbOrder" >
    update tb_order
    <set >
      <if test="payment != null" >
        payment = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="payment_type != null" >
        payment_type = #{payment_type,jdbcType=INTEGER},
      </if>
      <if test="post_fee != null" >
        post_fee = #{post_fee,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="payment_time != null" >
        payment_time = #{payment_time,jdbcType=TIMESTAMP},
      </if>
      <if test="consign_time != null" >
        consign_time = #{consign_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null" >
        end_time = #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="close_time != null" >
        close_time = #{close_time,jdbcType=TIMESTAMP},
      </if>
      <if test="shipping_name != null" >
        shipping_name = #{shipping_name,jdbcType=VARCHAR},
      </if>
      <if test="shipping_code != null" >
        shipping_code = #{shipping_code,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="buyer_message != null" >
        buyer_message = #{buyer_message,jdbcType=VARCHAR},
      </if>
      <if test="buyer_nick != null" >
        buyer_nick = #{buyer_nick,jdbcType=VARCHAR},
      </if>
      <if test="buyer_rate != null" >
        buyer_rate = #{buyer_rate,jdbcType=INTEGER},
      </if>
    </set>
    where order_id = #{order_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gobuy.pojo.TbOrder" >
    update tb_order
    set payment = #{payment,jdbcType=VARCHAR},
      payment_type = #{payment_type,jdbcType=INTEGER},
      post_fee = #{post_fee,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      payment_time = #{payment_time,jdbcType=TIMESTAMP},
      consign_time = #{consign_time,jdbcType=TIMESTAMP},
      end_time = #{end_time,jdbcType=TIMESTAMP},
      close_time = #{close_time,jdbcType=TIMESTAMP},
      shipping_name = #{shipping_name,jdbcType=VARCHAR},
      shipping_code = #{shipping_code,jdbcType=VARCHAR},
      user_id = #{user_id,jdbcType=BIGINT},
      buyer_message = #{buyer_message,jdbcType=VARCHAR},
      buyer_nick = #{buyer_nick,jdbcType=VARCHAR},
      buyer_rate = #{buyer_rate,jdbcType=INTEGER}
    where order_id = #{order_id,jdbcType=VARCHAR}
  </update>
</mapper>